.root {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin: 25vh auto;
  max-width: 60vw;
  transform: translateY(-26px);
  width: 100%;
}

.root blockquote {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.33;
  margin: 0 0 12px;
  position: relative;
  text-shadow: 2px 2px 2px var(--color-black);
}

.root blockquote::before {
  content: '“';
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 124px;
  left: -12px;
  line-height: 1;
  opacity: 0.3;
  position: absolute;
  top: -4px;
  transform: translateX(-100%);
}

.link {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.link,
.link:active,
.link:hover,
.link:visited,
.link:focus {
  color: var(--color-white);
  text-decoration: none;
}

.time {
  display: block;
  font-weight: 300;
  margin-bottom: 12px;
  opacity: 0.8;
}
