.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.root time {
  display: block;
  font-weight: 300;
  opacity: 0.6;
  text-align: right;
}

.root blockquote {
  font-size: 64px;
  font-weight: bolder;
  line-height: 1.43;
  margin: 0 0 12px;
  position: relative;
}

.root blockquote::before {
  content: '“';
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 124px;
  left: 0;
  line-height: 1;
  opacity: 0.3;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}

.link {
  transition: opacity 0.3s ease;
}

.link,
.link:active,
.link:visited,
.link:focus {
  color: var(--color-white);
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
}
