.root {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  position: fixed;
  right: 24px;
  top: 24px;
  z-index: 10;
}

.count {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.count > div:first-child {
  opacity: 0.5;
}
