.root {
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  max-width: 1280px;
}

.item {
  cursor: pointer;
  flex: 0 0 25%;
  margin: 12px 24px 48px;
  max-height: 280px;
  max-width: 33.33%;
  position: relative;
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.item:nth-child(2) {
  transform: translateY(-32px);
}

.content {
  position: relative;
}

.title {
  background-color: red;
  bottom: 0;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  right: 0;
}

.title span {
  background-color: var(--color-highlight);
  color: var(--color-primary);
  display: inline-block;
  padding: 4px 12px;
}

.image {
  filter: grayscale(90%) hue-rotate(80deg);
  transform-origin: bottom right;
  transition: filter 0.3s ease, transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.item:hover .image {
  filter: none;
  transform: scale3d(1.05, 1.05, 1.05);
}
