.root {
  max-width: 50vw;
  padding: 24px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.root a,
.root a:active,
.root a:visited,
.root a:focus {
  color: #02bdaa;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.root a:hover {
  color: #ea5568;
}

.root p {
  line-height: 1.45;
  margin-bottom: 16px;
}

.heading {
  font-weight: 700;
  margin-top: 32px;
}

.share > div:last-child {
  justify-content: flex-start;
  padding-top: 12px;
}

.extra {
  margin-top: 32px;
}

@media only screen and (max-width: 767px) {
  .root {
    max-width: 100%;
  }
}
