@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.background {
  background-image: url('./bg.png');
  background-position: -50vw -10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.quotesContainer {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.graph {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
