@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.background {
  background-image: url('/images/cemiterio.jpg');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.gradient,
.gradientBottom {
  height: 50vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  touch-action: none;
  width: 100%;
  z-index: 5;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  top: 0;
}

.gradientBottom {
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%
  );
  bottom: 0;
}

.quotesContainer {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.quotesContainer > div:first-child {
  margin-top: 0;
}

.quotesContainer > div:last-child {
  margin-bottom: 0;
}

.graph {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.about {
  align-items: center;
  background-color: #fff;
  border-radius: 100%;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 700;
  height: 16px;
  justify-content: center;
  left: 24px;
  line-height: 1;
  opacity: 0.5;
  position: fixed;
  top: 31px;
  transition: opacity 0.2s;
  width: 16px;
  z-index: 15;
}

.next {
  bottom: 96px;
  left: 50%;
  position: fixed;
  z-index: 15;
}

.about:hover {
  opacity: 1;
}

.notFound {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  width: 100%;
}

.notFound a {
  color: #fff;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .about,
  .background,
  .next {
    display: none;
  }
}

@media only screen and (max-height: 600px) {
  .next {
    display: none;
  }
}
