.root {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.button {
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
  display: flex;
  flex: 0 0 32px;
  height: 32px;
  justify-content: center;
  margin-right: 8px;
  transition: background-color 0.3s ease;
  width: 32px;
}

.animated .button {
  animation-delay: 0.3s;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideInDown;
}

.button:last-child {
  margin-right: 0;
}

.button svg {
  height: 14px;
  width: 14px;
}

.button path {
  fill: #fff;
}

.button:nth-child(2) {
  animation-delay: 0.4s;
}

.button:nth-child(3) {
  animation-delay: 0.5s;
}

.button:nth-child(4) {
  animation-delay: 0.6s;
}

.button:hover {
  background-color: #fff;
  opacity: 1;
}

.button:hover path {
  fill: #000;
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 767px) {
  .root {
    bottom: 12px;
    left: 12px;
    right: auto;
    top: auto;
  }

  .button {
    animation: none !important;
  }
}
